<li data-username="able-pro dashboard dashboard" class="nav-item coded-hasmenu" [routerLinkActive]="['active']">
  <a [routerLinkActive]="['active']" class="nav-link" (click)="navCollapse($event)"> </a>
  <ul class="coded-submenu" [routerLinkActive]="['active']">
    @for (item of item.children; track item) {
      @if (item.type === 'group') {
        <app-component-group [item]="item"></app-component-group>
      } @else if (item.type === 'collapse') {
        <app-component-collapse [item]="item"></app-component-collapse>
      } @else if (item.type === 'item') {
        <app-component-item [item]="item"></app-component-item>
      }
    }
  </ul>
</li>
